* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #0a143a;
}
.header {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 12px;
}
.container {
  max-width: 1145px;
  margin: auto;
}
.logo {
  cursor: pointer;
}
.close-btn {
  display: none;
}
.navbar-panel {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.navbar-menu {
  margin-right: auto;
}
.menu {
  margin: 0;
  display: flex;
  padding-left: 22px;
  padding-right: 22px;
}
.menu-item {
  list-style: none;
}
.menu-item:not(:last-child) {
  margin-right: 14px;
}
.menu-link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.button {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  text-align: center;
  cursor: pointer;
}
.link-button {
  margin-right: 8px;
  color: inherit;
}
.button-primary {
  background: #256eeb;
  border-radius: 5px;
  color: white;
}
.menu-button {
  background-color: #fff;
  border: none;
  cursor: pointer;
  display: none;
}
.search-panel {
  height: 50px;
  background-color: #256eeb;
  padding: 3px;
  border: none;
  border-radius: 5px;
  display: flex;
}
.search-input {
  border: none;
  border-radius: 5px;
  padding: 14px 22px;
  flex-grow: 1;
}
.search-button {
  background-color: #256eeb;
  border: none;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 17px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.button-search-text {
  font-size: 18px;
  color: white;
  margin-left: 5px;
}
.page-content, .single-content {
  display: grid;
  grid-template-columns: 9fr 3fr;
  grid-column-gap: 10px;
  margin-bottom: 68px;
}
.page-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-top: 12px;
  margin-bottom: 25px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
}
.card {
  margin-bottom: 18px;
  margin-right: 18px;
}
.card-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.card-header {
  display: flex;
  justify-content: space-between;
}
.card-image {
  border-radius: 10px;
  width: 264px;
  height: 178px;
  object-fit: cover;
  margin-bottom: 12px;
}
.card-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #256EEB;
  margin-top: 0;
  margin-bottom: 5px;
  width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.favourite {
  border: none;
  background-color: transparent;
  padding: 0 3px;
  margin-left: 12px;
  cursor: pointer;
}
.icon-favourite {
  fill: #C4C4C4;
}
.icon-favourite:hover {
  fill: #256EEB;
}
.card-price {
  font-size: 16px;
  line-height: 19px;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 10px;
}
.card-text {
  color: #C4C4C4;
  line-height: 16px;
  margin-top: 0;
  margin-bottom: 4px;
}
.sidebar {
  max-width: 264px;
}
.service {
  margin-bottom: 25px;
}
.service-title {
  font-weight: bold;
  line-height: 16px;
  margin-top: 7px;
  margin-bottom: 5px;
}
.service-text {
  line-height: 16px;
}
.footer-text {
  line-height: 16px;
  color: #C4C4C4;
}
p.footer-text {
  margin-top: 18px;
  margin-bottom: 5px;
}
a.footer-text {
  text-decoration: none;
  border-bottom: 1px solid #C4C4C4;
  cursor: pointer;
}
.footer-menu {
  padding: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 16px;
}
.footer-menu-item {
  margin-bottom: 5px;
}
.footer-link {
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  color: inherit;
  cursor: pointer;
}

/*css for single.html*/
.main-single {
  display: flex;
}
.content {
  width: 460px;
  margin-right: 30px;
}
.swiper-container {
  width: 100%;
  height: 357px;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  background-size: cover;
  background-position: center;
}
.mySwiper2 {
  width: 100%;
  border-radius: 10px;
}
.mySwiper {
  height: 12%;
  box-sizing: border-box;
  padding: 10px 0;
}
.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
  border-radius: 10px;
}
.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}
.content-text {
  line-height: 20px;
}
.author {
  min-width: 264px;
}
.author-price {
  display: block;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 25px;
}
.author-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.author-name {
  display: inline-block;
  font-weight: bold;
  line-height: 16px;
  margin-bottom: 7px;
}
.rating {
  margin-bottom: 8px;
}
.rating-counter {
  margin-left: 10px;
  line-height: 16px;
  opacity: 0.5;
}
.author-status {
  font-size: 12px;
  line-height: 14px;
}
.author-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.button-block {
  display: block;
  width: 100%;
  height: 54px;
  margin-bottom: 14px;
  border: none;
}
.button-success {
  background-color: #14b4be;
  border-radius: 5px;
  color: #fff;
}
.banner-image {
  width: 100%;
  margin-bottom: 7px;
}

@media(max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .card {
    width: 45%;
  }
  .card-image {
    width: 100%;
    height: 200px;
  }
}

@media(max-width: 992px) {
  .container {
    max-width: 740px;
  }
  .card-image {
    height: 150px;
  }
  .main-single {
    flex-direction: column;
  }
  .author {
    margin-top: 20px;
  }
  .main-single {
    margin-bottom: 20px;
  }
  .single-content {
    grid-template-columns: 8fr 4fr;
  }
  .single-sidebar {
    margin-top: 66px;
  }
}

@media(max-width: 768px) {
  .container {
    max-width: 520px;
  }
  .page-content {
    grid-template-columns: 8fr 4fr;
  }
  .card {
    width: 100%;
  }
  .card-image {
    height: 250px;
  }
  .close-btn {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 36px;
    height: 36px;
    padding: 10px;
    border: none;
    background-color: #fff;
    cursor: pointer;
  }
  .menu-button {
    display: block;
  }
  .navbar-panel {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s, opacity 0.3s;
    transform: translateX(100%);
    opacity: 0;
  }
  .is-open {
    transform: translateX(0%);
    opacity: 1;
  }
  .navbar-menu {
    margin: 120px auto 60px;
  }
  .menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu-item, .button-menu {
    font-size: 24px;
  }
  .menu-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .button-group {
    display: flex;
    flex-direction: column;
  }
  .link-button {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .content {
    margin-right: 0;
  }
  .single-content {
    grid-template-columns: 12fr;
  }
  .main-single {
    margin: auto;
    margin-bottom: 40px;
  }
  .single-sidebar {
    max-width: inherit;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
  }
  .banners-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    order: 1;
  }
  .banner-link {
    width: 45%;
  }
  hr {
    display: none;
  }
  p.footer-text {
    margin-top: 0;
  }
}

@media(max-width: 576px) {
  .container {
    max-width: 90%;
  }
  .page-content {
    grid-template-columns: 12fr;
  }
  .card {
    margin-right: 0;
  }
  .button-search-text {
    display: none;
  }
   .author, .sidebar {
    width: 100%;
    margin: auto;
  }
  .content {
    width: 380px;
  }
  .single-sidebar {
    display: block;
  }
  .banners-wrapper {
    width: 100%;
  }
  hr {
    display: block;
  }
  p.footer-text {
    margin-top: 20px;
  }
}

@media(max-width: 425px) {
  .content {
    width: 350px;
  }
  
  .banners-wrapper {
    flex-direction: column;
  }
  .banner-link {
    width: 90%;
  }
  .swiper-container {
    height: 257px;
  }
  .mySwiper {
    height: 12%;
  }
}
@media(max-width: 375px) {
  .content {
    width: 280px;
  }
}